.c-headertitle {
  margin: 0;
  font-weight: 400;
  font-family: var(--fontstack-main);
  font-size: clamp(60/16 * 1rem, 1rem + 12vw, 180/16 * 1rem);
  line-height: 1.02;
}

.c-headertitle > span {
  display: block;
}
