.c-ctalink {
  display: inline-block;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-accent);
  text-decoration-style: solid;
  text-underline-offset: 9px;
  color: var(--color-text-main);

  transition: text-decoration-color 0.2s ease-out;
}
