@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

.c-speaker {
  margin-bottom: calc(24 / 16 * 1rem);
}

.c-speaker__link {
  display: block;
  text-decoration: none;
}

.c-speaker__media {
  position: relative;
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  overflow: hidden;
  border-radius: 12px;
  margin-bottom: calc(24 / 16 * 1rem);

  &::after {
    content: "";
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* prettier-ignore */
    background-image: 
       linear-gradient(350deg, rgba(232, 87, 62, 0.8), rgba(232, 87, 62, 0) 70%),
       linear-gradient(85deg, rgba(65, 104, 253, 0.8), rgba(65, 104, 253, 0) 70%),
       linear-gradient(210deg, rgba(191, 244, 105, 0.8) 10%, rgba(191, 244, 105, 0) 70%);
    opacity: 0;

    animation-name: hue-rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    transition: opacity 0.2s ease-out;

    .c-speaker__link:hover &,
    .c-speaker__link:focus & {
      opacity: 0.3;
    }
  }
}

.c-speaker__img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  mix-blend-mode: screen;

  transform: rotate(0deg) scale(1);
  transition: transform 0.2s ease-out;

  .c-speaker__link:hover &,
  .c-speaker__link:focus & {
    transform: rotate(0.5deg) scale(1.012);
  }
}

.c-speaker__title {
  margin-bottom: calc(6 / 16 * 1rem);
  font-weight: 500;
  font-size: calc(20 / 16 * 1rem);
  line-height: 1.2;
  font-family: var(--fontstack-main);
  color: var(--color-text-main);

  .c-speaker__link:hover &,
  .c-speaker__link:focus & {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
  }
}

.c-speaker__function {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1rem;
  font-family: var(--fontstack-alt);
  color: var(--color-text-offset);
}
