.c-sitefooter {
  color: var(--color-text-offset);
}

.c-sitefooter__content {
  font-size: 1rem;
  border-block-start: 1px solid rgba(255, 255, 255, 0.18);
  padding-block: calc(24 / 16 * 1rem);
  margin: 0;
  text-align: center;
}
