.c-quote {
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
  text-align: center;
}

.c-quote__text {
  font-size: clamp(26/16 * 1rem, 1rem + 3vw, 52/16 * 1rem);
  color: var(--color-text-main);
  text-transform: uppercase;
  line-height: 1.38;
  font-weight: 400;
  font-family: var(--fontstack-alt);
  margin-block-end: calc(6 / 16 * 1rem);
  quotes: "“" "”" "‘" "‘";
  text-wrap: pretty;

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

.c-quote__author {
  font-style: normal;
  color: var(--color-text-offset);
}
