<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.metaTitle }}</title>
  <meta name="description" content="{{ site.metaDescription }}">
  <meta name="generator" content="{{ eleventy.generator }}">

  <!-- Open Graph -->
  <meta property="og:title" content="{{ site.metaTitle }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ site.metaDescription }}">
  <meta property="og:image" content="{{ site.metaImage }}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="fr">

  <!-- preloads -->
  <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/lora-variable.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/satoshi-variable.woff2" crossorigin>

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">
  
  <!-- JS -->
  <script type="module" src="/assets/js/main.bundle.js"></script>
</head>
<body>
  {% include "partials/siteheader.njk" %}
    <main>
      {% block content %}{% endblock %}
    </main>
  {% include "partials/sitefooter.njk" %}
</body>
</html>