---
permalink: index.html
---
{% extends "layouts/base.njk" %}
{% from "components/itemSpeaker.njk" import itemSpeaker %}
{% from "components/itemPartner.njk" import itemPartner %}

{% block content %}

  <div class="c-pagebanner">
    <div class="l-container">
      
      <picture>
        <source media="(min-width: 500px)"
                srcset="/assets/img/banners/banner_1024.jpg 1024w,
                        /assets/img/banners/banner_1200.jpg 1200w,
                        /assets/img/banners/banner_1800.jpg 1800w"
                width="1800"
                height="1350"
                sizes="100vw">
        <img src="/assets/img/banners/banner_800.jpg" 
             alt="An old couple on a crowded beach, facing the sea. The man is pointing at the horizon."
             class="c-pagebanner__img  o-fluidimg"
             width="800"
             height="1066"
             decoding="async">
      </picture>
    </div>
  </div>

  <div class="c-pagecontent">
    <div class="c-section">
      <div class="l-container">
        <div class="l-split  l-split--half@large">
          <div>
            <h2 class="c-h2">Une soirée</h2>
          </div>
          <div>
            <p>Cette année encore, nous avons corrompu quatre anciennes et anciens pour vous parler de leurs parcours et de leurs expériences dans le monde sans pitié de la réalisation multimédia.</p>
            <p>Après les présentations, nous nous retrouverons autour d'un verre (ou deux) dans le foyer pour discuter, rire et asséner ensemble à la génération actuelle "c'était quand même mieux avant".</p>
            {% if site.bookings.active %}
              <p><a class="c-ctalink" href="{{ site.bookings.url }}">Réservez vos places</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="c-section">
      <div class="l-container">
        <h2 class="c-h2">Des invités</h2>
        {% set speakers = collections.speakers %}
        {% for item in speakers %}
          {% if loop.first %}<ul class="l-grid  l-grid--2cols@small  l-grid--4cols@large">{% endif %}
            <li>
              {{ itemSpeaker({
                url: item.data.url,
                image: item.data.image,
                name: item.data.name,
                surname: item.data.surname,
                function: item.data.function
              }) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="c-section">
      <div class="l-container">
        <div class="l-split  l-split--half@medium">
          <div>
            <h2 class="c-h2">Un événement</h2>
          </div>
          <div>
            <div class="l-split  l-split--half@large">
              <p>
                {{ site.eventDate|dateFull("fr") }}<br>
                19h00 - 23h00<br>
                IAD Blocry, Grande Salle<br>
                Entrée gratuite
              </p>
              <p>
                Institut des Arts de Diffusion<br>
                Route de Blocry, 5<br>
                1340 Louvain-la-Neuve
              </p>
            </div>
            {% if site.bookings.active %}
              <p><a class="c-ctalink" href="{{ site.bookings.url }}">Réservez vos places</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="c-section">
      <div class="l-container">
        <blockquote class="c-quote  js-quote">
          <p class="c-quote__text  js-quote-text">Old age is not for sissies</p>
          <cite class="c-quote__author  js-quote-author">Bette Davis</cite>
        </blockquote>
      </div>
    </div>
    <div class="c-section">
      <div class="l-container  l-container--medium">
        {% for item in partners %}
          {% if loop.first %}<ul class="c-partners">{% endif %}
            <li>
              {{ itemPartner({
                logo: item.logo,
                company: item.company,
                url: item.url
              }) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}