.l-container {
  --padding-inline: calc(18 / 16 * 1rem);

  padding-inline: var(--padding-inline);
  max-width: 1650px;
  margin: 0 auto;

  @include breakpoint(medium) {
    --padding-inline: calc(30 / 16 * 1rem);
  }
}

.l-container--medium {
  max-width: 960px;
}

.l-container--small {
  max-width: 720px;
}
