$breakpoints-map: (
  small: "all and (min-width: 500px)",
  medium: "all and (min-width: 750px)",
  large: "all and (min-width: 1000px)",
  xlarge: "all and (min-width: 1300px)",
) !default;

.l-split {
  display: grid;
  grid-template-columns: 1fr;
}

.l-split--half {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: calc(18 / 16 * 1rem);
}

@each $name, $query in $breakpoints-map {
  .l-split--full\@#{$name} {
    @media #{$query} {
      grid-template-columns: minmax(0, 1fr);
      gap: 0;
    }
  }

  .l-split--half\@#{$name} {
    @media #{$query} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: calc(18 / 16 * 1rem);
    }
  }
}
