<header class="c-siteheader">
  <div class="l-container">
    
    <div class="c-siteheader__inner">
      <h1 class="c-headertitle">
        <span>Geeky</span>
        <span>Gathering</span>
      </h1>
      <div class="c-headerdata">
        <p class="c-headerdata__date"><time datetime="{{ site.eventDate|dateISO }}">{{ site.eventDate|dateFormat("dd.LL.yyyy") }}</time></p>
        <p class="c-headerdata__title">Soirée Métiers Multimédia</p>
        <p class="c-headerdata__edition">Edition 2023-2024</p>
      </div>
    </div>

  </div>
</header>