<header class="c-siteheader">
  <div class="l-container">
    
    <div class="c-siteheader__inner">
      <h1 class="c-pagetitle"><span>Geeky</span> <span>Gathering</span></h1>
      <div>
        <p><time datetime="2024-03-22">22.03.2024</time></p>
        <p>Soirée Métiers Multimédia</p>
        <p>Edition 2023-2024</p>
      </div>
    </div>

  </div>
</header>