<footer class="c-sitefooter">
  <div class="l-container">
    <p class="c-sitefooter__content">&copy; {{ site.buildDate|dateYear }} Kranky Web Developers - <a href="{{ site.repositoryUrl }}">code source</a> sur Github</p>
  </div>
</footer>